<% include header %>
<div id="container-about" class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li class="active">API</li>
          </ol>
        </div>
        <div class="panel-body">
          <div>
            <div class="page-header">
              <h3>主 题</h3>
            </div>
            <div class="page-header">
              <h4>get /topics 主题首页</h4>
            </div>
            <div>
              <p>接收 get 参数</p>
              <ul>
                <li>page Number 页数</li>
                <li>tab String 主题分类。目前有 ask share job good</li>
                <li>limit Number 每一页的主题数量</li>
                <li>mdrender String 当为 false 时，不渲染。默认为 true，渲染出现的所有 markdown 格式文本。</li>
              </ul>
              <p>示例：/api/v1/topics</p>
            </div>
            <div class="page-header">
              <h4>get /topic/:id 主题详情</h4>
            </div>
            <div>
              <p>接收 get 参数</p>
              <ul>
                <li>mdrender String 当为 false 时，不渲染。默认为 true，渲染出现的所有 markdown 格式文本。</li>
                <li>accesstoken String 当需要知道一个主题是否被特定用户收藏时，才需要带此参数。会影响返回值中的 is_collect 值。</li>
              </ul>
              <p>示例：/api/v1/topic/5433d5e4e737cbe96dcef312</p>
            </div>
          </div>
          <div>
            <div class="page-header">
              <h3>主题收藏</h3>
            </div>
            <div class="page-header">
              <h4>post /topic_collect/collect 收藏主题</h4>
            </div>
            <div>
              <p>接收 post 参数</p>
              <ul>
                <li>accesstoken String 用户的 accessToken</li>
                <li>topic_id String 主题的id</li>
                <li>limit Number 每一页的主题数量</li>
                <li>mdrender String 当为 false 时，不渲染。默认为 true，渲染出现的所有 markdown 格式文本。</li>
              </ul>
              <p>返回值示例</p>
              <p>{"success": true}</p>
            </div>
            <div class="page-header">
              <h4>post /topic_collect/de_collect 取消主题</h4>
            </div>
            <div>
              <p>接收 post 参数</p>
              <ul>
                <li>accesstoken String 用户的 accessToken</li>
                <li>topic_id String 主题的id</li>
              </ul>
              <p>返回值示例</p>
              <p>{success: true}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <%include siderabout%>
      <% include links %>
    </div>

  </div>
</div>
<%include footer%>
