<div class="panel panel-default">
  <div class="panel-heading">
    <ol class="breadcrumb">
      <li class="active">二维码</li>
    </ol>
  </div>
  <div class="panel-body">
    <div class="barcode container">
      <img  class="img-responsive" src="/img/bar.jpg" alt="二维码">
    </div>
  </div>
</div>
