<% include header %>
<div id="container-about" class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li class="active">关于</li>
          </ol>
        </div>
        <div class="panel-body">
          <div>
            <div class="page-header">
              <h3>Node.js 入门</h3>
            </div>
            <div>
              <p>《快速搭建 Node.js 开发环境以及加速 npm》</p>
              <p><a href="http://fengmk2.com/blog/2014/03/node-env-and-faster-npm.html">http://fengmk2.com/blog/2014/03/node-env-and-faster-npm.html</a></p>
              <p>《Node.js 包教不包会》</p>
              <p><a href="https://github.com/alsotang/node-lessons">https://github.com/alsotang/node-lessons</a></p>
              <p>《ECMAScript 6入门》</p>
              <p><a href="http://es6.ruanyifeng.com/">http://es6.ruanyifeng.com/</a></p>
            </div>
          </div>
          <div>
            <div class="page-header">
              <h3>Node.js 资源</h3>
            </div>
            <div>
              <p>《前端资源教程》</p>
              <p><a href="https://cnodejs.org/topic/56ef3edd532839c33a99d00e">https://cnodejs.org/topic/56ef3edd532839c33a99d00e</a></p>
              <p>《国内的 npm 镜像源》</p>
              <p><a href="http://cnpmjs.org/">http://cnpmjs.org/</a></p>
              <p>《node weekly》</p>
              <p><a href="http://nodeweekly.com/issues">http://nodeweekly.com/issues</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <% include siderabout %>
      <% include links %>
      <% include barcode %>
    </div>
  </div>
</div>
<%include footer%>
