<div class=" link panel panel-default">
  <div class="panel-heading">
    <ol class="breadcrumb">
      <li class="active">友情链接</li>
    </ol>
  </div>
  <div class="panel-body">
    <ul class="media-list">
      <li class="media">
        <a href="https://ruby-china.org/" target="_blank">
          <img class="media-object img-responsive" src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png">
        </a>
      </li>
      <li class="media">
        <a href="http://golangtc.com/" target="_blank">
          <img class="media-object img-responsive" src="//o4j806krb.qnssl.com/public/images/golangtc-logo.png">
        </a>
      </li>
      <li class="media">
        <a href="http://phphub.org/" target="_blank">
          <img class="media-object img-responsive" src="//o4j806krb.qnssl.com/public/images/phphub-logo.png">
        </a>
      </li>
    </ul>
  </div>
</div>
